/* johnmoise.github.io/css/colorscheme.css */
:root {
    --red10: #F2D9D9;
	--red20: #E5B2B2;
	--red30: #D98C8C;
	--red40: #CC6666;
	--red50: #BF4040;
	--red60: #993333;
	--red70: #732626;
	--red80: #4C1919;
	--red90: #260D0D;
	--green10: #D9F2E5;
	--green20: #B2E5CC;
	--green30: #8CD9B2;
	--green40: #66CC99;
	--green50: #40BF7F;
	--green60: #339966;
	--green70: #26734C;
	--green80: #194C33;
	--green90: #0D2619;
	--blue10: #D9E5F2;
	--blue20: #B2CCE5;
	--blue30: #8CB2D9;
	--blue40: #6699CC;
	--blue50: #407FBF;
	--blue60: #336699;
	--blue70: #264C73;
	--blue80: #19334C;
	--blue90: #0D1926;
    --black: #000000;
    --gray: rgba(0,0,0,0.7);
    --white: #ffffff;
}
