:root {
    --red10: #F2D9D9;
	--red20: #E5B2B2;
	--red30: #D98C8C;
	--red40: #CC6666;
	--red50: #BF4040;
	--red60: #993333;
	--red70: #732626;
	--red80: #4C1919;
	--red90: #260D0D;
	--green10: #D9F2E5;
	--green20: #B2E5CC;
	--green30: #8CD9B2;
	--green40: #66CC99;
	--green50: #40BF7F;
	--green60: #339966;
	--green70: #26734C;
	--green80: #194C33;
	--green90: #0D2619;
	--blue10: #D9E5F2;
	--blue20: #B2CCE5;
	--blue30: #8CB2D9;
	--blue40: #6699CC;
	--blue50: #407FBF;
	--blue60: #336699;
	--blue70: #264C73;
	--blue80: #19334C;
	--blue90: #0D1926;
    --black: #000000;
    --gray: rgba(0,0,0,0.7);
    --white: #ffffff;
    --h1: 1.8rem;
    --nav: 1.2rem;
    --h2: 1.1rem;
    --post-title: 1rem;
    --post-date: 0.7rem;
}

/* General Text and Link Styling */

html {
    font-family: math; 
    color: var(--black);
    width: 90%;
    max-width: 18cm; /* need to update to be dyanamic with page width*/
    margin: 1.5rem auto;
    font-size: 5mm;
}

p {
    margin: 0.5rem auto;
    text-align: justify;
}

h1 {
    font-weight: normal;
    font-size: var(--h1);
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    text-wrap: balance;
    text-align: center;
}

h2 {
    font-weight: bold;
    font-size: var(--h2);
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    text-wrap: balance;
    text-align: center;
}

a {
    color: var(--blue60);
    text-decoration: none;
}

a:hover{
    color: var(--blue40);
    text-decoration: underline;
}

a.nav {
    color: var(--black);
}

a:hover.nav {
    color: var(--gray);
}

a.citation {
    color: var(--black);
    text-decoration: none;
}

ul > li {
    list-style-type: square;
}

ul, ol {
    margin-top: 0px;
}

/* Mathjax containers */

mjx-c {
    color: var(--black);
}

mjx-container {
    overflow-x:auto;
    overflow-y:hidden;
    color: var(--black);
}

/* Images and Titles */

figure {
    counter-increment: figure;
    margin: 1.5rem auto;
}

figure img {
    display: block;
    margin: 0 auto;
    width: var(--width);
    max-width: 70%;
}

figcaption {
    text-align: center;
    text-wrap: balance;
    margin: 0.3rem auto 1.5rem auto;
}

figcaption:before {
    content: 'Figure ' counter(figure) '. ';
    font-weight: bold;
    display: inline;
}

/* Navigation Bar */

nav {
    text-align: center;
    font-size: var(--nav);
}

hr {
    margin: 1.5rem auto;
}

/* Post titles and dates */

.post-title {
    font-size: var(--post-title);
    text-align:center;
    text-wrap: balance;
    margin-top: 1.5rem;
    margin-bottom: 0.1rem;
}

.post-date {
    text-align:center;
    text-transform: uppercase;
    color: var(--gray);
    font-size: var(--post-date);
    font-weight: bold;
}
